* {
  background-color: rgb(190, 96, 86);
}
body {
  width: 950px;
  justify-content: center;
  margin: auto;
}
h1 {
  width:500px;
  margin-left: 250px;
  background-color: burlywood;
  text-align: center;
  font-size: 2em;
  border: grey 5px groove;
  font-family: Arial, Helvetica, sans-serif;
  color: black;
}

#table, tr, th, td {
  border: 1.5px black solid;
  border-radius: 5%;
  background-color:burlywood;
}

h2{
  font-size: 40px;
  border: 8px grey groove;
  width: 500px;
  text-align: center;
  margin-left: 200px;
  padding: 20px;
  background-color: burlywood;
}
fieldset {
  border: grey 15px ridge;
  width: 60%;
  margin-top: 20px;
  justify-content: center;
  margin: auto;
  background-color: burlywood;
}
#firstname{
  background-color: burlywood;
}
#minimum{
  background-color: burlywood;
}
#maximum{
  background-color: burlywood;
}
#average{
  background-color: burlywood;
}
#submit{
  background-color: burlywood;
}



